.landing-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;

  mask-image: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0.3),
    black 10%,
    black 90%,
    hsla(0, 0%, 0%, 0.3)
  );

  .title {
    justify-self: center;
    width: 250px;

    padding: 10px 25px;

    border: var(--default-border);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);

    background-color: var(--contrast-foreground);
  }

  .post-carousel {
    z-index: -1;

    display: flex;
    max-height: 400px;
    gap: 20px;

    animation: scroll 100s forwards linear infinite;

    .post-card {
      box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.371);
    }

    .username {
      visibility: hidden;
    }
  }

  .call-to-action {
    display: grid;
    column-gap: 20px;
    row-gap: 15px;

    margin-top: 10px;
    padding-bottom: 10px;

    .guest-account-tip {
      grid-row: 2 / span 2;
      grid-column: 1 / span 2;
      text-align: end;
      column-gap: 5px;

      display: grid;
      align-items: end;
      grid-auto-flow: column;

      transform: rotate(-2deg);

      .icon {
        position: relative;
        bottom: 5px;
        height: 30px;
        /* color: var(--tangerine); */
        /* color: var(--contrast-foreground); */
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-150px) perspective(5000px) skewX(-8deg);
  }
  100% {
    transform: translateX(-3500px) perspective(5000px) skewX(-8deg);
  }
}
