.user-card {
  align-self: center;

  display: grid;
  gap: 25px;
  padding: 10px;
  align-items: center;
  justify-items: center;

  width: min(80%, 500px);

  margin-bottom: 25px;

  border: var(--default-border);
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 0px hsl(0, 0%, 0%, 0.3);

  background-color: var(--selective-yellow);

  text-align: center;

  .avatar-wrapper {
    position: relative;
    display: grid;
    justify-items: center;
    gap: 20px;

    .avatar {
      width: 100px;
      border-radius: 20px;
      border: 2px solid black;
    }

    .change-avatar-button {
      position: absolute;
      right: 0px;
      bottom: 0px;

      height: 40px;
      width: 40px;
      padding: 2px;

      background: linear-gradient(
        0deg,
        hsl(45, 68%, 79%) -50%,
        hsl(240, 17%, 94%) 100%
      );
      border: 2px solid black;
      border-radius: 40%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .info-wrapper {
    display: grid;

    .name-wrapper {
      .first-name {
        font-weight: bolder;
        font-size: larger;
      }
    }
  }

  .follow-user > * {
    max-width: 100px;
  }
}
