.user-card-container {
  display: grid;
  width: 100vw;
  background-color: lavender;
  margin-bottom: 25px;

  .user-card {
    display: grid;
    gap: 25px;
    padding: 20px 10px;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: min(100%, 700px);
    justify-self: center;

    justify-items: center;
    text-align: center;

    .avatar-wrapper {
      align-self: center;
      position: relative;
      display: grid;
      justify-items: center;
      gap: 20px;

      .avatar {
        width: 100px;
        border-radius: 20px;
      }

      .change-avatar-button {
        position: absolute;
        right: 0px;
        bottom: 0px;

        height: 40px;
        width: 40px;
        padding: 2px;

        background: linear-gradient(
          0deg,
          hsl(45, 68%, 79%) -50%,
          hsl(240, 17%, 94%) 100%
        );
        border-radius: 40%;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .info-wrapper {
      display: grid;
      justify-items: center;

      .name-wrapper {
        margin-bottom: 10px;

        .first-name {
          font-weight: bolder;
          font-size: larger;
        }

        .username {
          opacity: 0.8;
        }
      }

      .follower-count {
        margin-bottom: 5px;
      }

      .follow-user > * {
        margin-top: 10px;
        max-width: 100px;
      }
    }
  }
}
