.label-btn {
  all: unset;

  padding: 5px;
  column-gap: 5px;

  display: flex;
  flex-direction: column;
  place-items: center;

  min-width: 100px;
  text-align: center;

  font-weight: 500;

  background: var(--button-background);
  color: black;

  border-radius: 1px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px hsl(0, 0%, 0%, 0.3);

  .icon {
    height: 30px;
  }

  &:hover,
  &:focus-visible {
    cursor: pointer;

    border-color: var(--persimmon);
    outline: 2px solid var(--persimmon);
    box-shadow: none;
  }

  &.inline {
    height: 10px;
    flex-direction: row;
    min-width: max-content;
    justify-content: center;

    .icon {
      height: 20px;
      order: 1;
    }
  }

  &.disabled {
    background: var(--button-disabled);
  }
}
