.label-btn {
  all: unset;

  padding: 5px;
  column-gap: 5px;

  display: flex;
  flex-direction: column;
  place-items: center;

  min-width: 100px;
  text-align: center;

  font-weight: 500;

  background: var(--button-background);
  color: black;

  border-radius: 1px;
  border-width: 4px;
  border-style: solid;
  border-left-color: var(--tangerine);
  border-top-color: var(--tangerine);
  border-right-color: var(--persimmon);
  border-bottom-color: var(--persimmon);
  border-radius: 10px 5px;

  .icon {
    height: 30px;
  }

  &:hover,
  &:focus-visible {
    cursor: pointer;

    border-color: var(--persimmon);
    border-radius: 10px 5px;
    outline: 3px solid black;
  }

  &.inline {
    height: 10px;
    flex-direction: row;
    min-width: max-content;
    justify-content: center;

    .icon {
      height: 20px;
      order: 1;
    }
  }
}
