@import 'dialog.css';

html {
  /* == Variables == */

  /* Colors */
  --background-color: hsla(239, 77%, 70%, 1);
  --card-background-color: lavender;
  --contrast-foreground: rgb(255, 221, 119);
  --tangerine: hsla(34, 99%, 47%, 1);
  --persimmon: hsla(22, 97%, 48%, 1);

  /* Others */
  --shadow: 2px 1px 0px 0px hsl(0, 0%, 0%, 0.6);
  --general-spacing: 20px;

  /* Box borders */
  --default-border: 2px solid black;
  --default-border-radius: 2px;
  --default-box-shadow: var(--shadow);

  /* Buttons */
  --button-background: linear-gradient(
    0deg,
    hsl(45, 68%, 79%) -50%,
    hsl(240, 17%, 94%) 100%
  );
  --button-background: linear-gradient(
    0deg,
    hsl(45, 68%, 79%) -50%,
    hsl(45, 100%, 81%) 100%
  );
  --button-disabled: hsl(42, 19%, 83%);

  background-color: var(--background-color);

  /* Enable smooth scrolling when comments are toggled on posts */
  scroll-behavior: smooth;
}

* {
  /* Reset */
  box-sizing: border-box;

  font-family: 'Red Hat Display', sans-serif;
}

body {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;

  &:has(.landing-container, .login, .signup) {
    height: 100vh;
    align-items: center;
  }
}

.loading {
  transition: 0.1s 0.2s ease-out;
  opacity: 0.8;
}

main {
  width: 100%;
  max-width: 1000px;
  padding-top: 45px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.disable-transition {
  transition: none !important;
}

.fade-out {
  animation: fade-out 0.2s forwards ease;
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}
