.timeline {
  display: grid;

  .home {
    height: 75dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    .no-posts-tip {
      display: flex;
      flex-direction: column;

      text-align: center;
      justify-content: center;

      width: 300px;

      border: var(--default-border);
      border-radius: var(--default-border-radius);
      box-shadow: var(--default-box-shadow);

      background-color: var(--selective-yellow);

      .explore-link {
        color: inherit;
        text-decoration: initial;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .intersection {
    justify-self: center;

    margin-top: 20px;
    margin-bottom: 10px;

    .icon {
      height: 50px;
    }

    font-weight: bolder;
  }
}
